body{
		background: gray;
}

.bg-primary{
	background-color: aquamarine;
}

.banner{
	height: 580px;
	width: 100%;
	background:url(../../../resources/static/img/banner.jpg);
	background: gray;

	color: white;
}

.container{
	padding-top: 5px;

}

.registation{
	background: black;
	
}

.my-card{
	background: white;
	padding: 20px;
	border-radius: 5px;

}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#login .text-right{
	float: right;
	padding-top: 25px;
	
}
